---
layout: default
---
<html lang="en">
{% include head.html %}

<body>
{% include nav.html %}
<br>
<br>
<br>
    <div class="container">
        {% for post in site.posts %}
        <h1 class="post-title" itemprop="name headline">{{ post.title }}</h1>
        <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
        <div class="content">
          {{ post.content }}
        </div>
        {% endfor %}
    </div>
</div>

{% include footer.html %}
</body>
</html>
